body {
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 11pt;
}

h1 {
  font-family: 'Abril Fatface', serif;
  border: none;
  text-decoration-line: none;
  font-style: italic;
  color: #000000 !important;
  font-size: 3em;
  font-weight: 800;
}

a{
  color: #000000;
  text-decoration-line: none;
}

header{
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  padding: .4em .4em .5em 1em;
  background-color: white;
  border-bottom-left-radius: 2rem;
  box-shadow: .3em -.3em .8em grey;
}

iframe{
  border-radius: .7cm;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
iframe::-webkit-scrollbar {
  display: none;
}


#layer1{
  z-index: 20;
  /*background-color: rgba(240, 240, 240, 0.95);*/
}

#blend_between{
  z-index: -10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 247, 253, 0.9);
}

#background_canvas>*{
  z-index: -20;
}

.me {
  transition: all 0.07s;
  margin: 50pt auto;
  transform-origin: left bottom;
  text-align: left;
  padding: 5rem;
}
.headline{
  text-align: left;
  box-sizing: border-box;
  min-width: 7cm;
  max-width: 70vw;
  display: inline-block;
}

.bigButton{
  transition: color .5s, background-color .5s;
  display: inline-block;
  color: white;
  background-color: #45aae4;
  padding: 1em;
  border-radius:5ch;
}
.bigButton:hover{
  background-color: #1efefe;
  color: #000000;
}
.bigButton:active{
  background-color: #1ed31e;
  color: #000000;
}
  
.offset1{
  transition: all 0.07s;
  transform: translate(100%);
}

.title{
  font-weight: 100;
  font-size: x-large;
}

#projectsSection{
  margin: 25vh auto 0 auto ;
  width: fit-content;
}

.project {
  opacity: 0;
  perspective: 480px;
  margin-top: 1cm;
  transition: all 0.4s;
  transform: rotateX(-90deg);
  color: black !important;
}

.project:hover {
  transform: scale(1.1);
}
#projects>div{
  background-color: white;
  margin: 1cm 0;
  padding : .7cm;
  border-radius: .7cm;
  box-shadow: 0.2cm 0.7cm 1cm -.8cm slategrey;
}

.normal {
  transform: rotateX(0deg);
  opacity: 1;
}
  
.sidenote{
  opacity:0.5;
}

@keyframes moveIn {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

  

  

  