@use 'sass:color';

@use '@material/theme/color-palette';

// $primary: color-palette.$teal-a400;
$primary: #a7c347;
$surface: black;

// Svelte Colors! (Dark Theme)
@forward '@material/theme/index' with (
  $primary: $primary,
  $secondary: color.scale($primary, $lightness: -30%, $saturation: -30%), //hm
  $surface: $surface,
  $background: $surface,
  $error: color-palette.$red-700
);

@mixin full {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
}

@mixin full-bleed($bg-color){
  box-shadow: 0 0 0 100vmax $bg-color;
  clip-path: inset(0 100vmax);
}

@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$std-margin: 1rem;

html,
body {
  font-family: 'JetBrainsMono','Roboto', sans-serif;
  background-color: #000;
  max-width: 100%;
  overflow-x: hidden;
  // overflow-x: clip;
  // color: ;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
